:root {
    --text-color: #343434;
    --title-color: #212529;
    --box-shadow: 3px 1px 5px rgb(143, 141, 141);
    --branding-font: "Montserrat", sans-serif;
  }
  
  .Header {
    height: 100vh;
    width: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: var(--branding-font);
  }

  .navbar a {
    color: var(--title-color);
    cursor: pointer;
  }

  .navbar a:hover {
    color: purple;
    text-decoration: overline;;
  }


 .intro h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;;
  }
  
  .intro {
    margin: 0 auto;
    margin-top: 15%;
    text-align: left;
  }
  
  .footer {
    background-color: var(--text-color);
    margin-top: 10%;
  }
  
  .fas,
  .fab {
    font-size: 24px;
    color: #fafafa;
  }  

/* Container for floating leaves */
.leaves-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

/* Each leaf */
.leaf {
  position: absolute;
  background-image: url('img/maple-leaf-svgrepo-com.svg'); /* Change to your leaf image */
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.85;
  animation-name: swirl;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-iteration-count: infinite;
}

/* Keyframes for a gentle swirling motion */
@keyframes swirl {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0.9;
  }
  20% {
    transform: translate(200px, -40px) rotate(90deg);
    opacity: 0.85;
  }
  40% {
    transform: translate(400px, 20px) rotate(180deg);
    opacity: 0.8;
  }
  60% {
    transform: translate(600px, -30px) rotate(270deg);
    opacity: 0.75;
  }
  80% {
    transform: translate(800px, 15px) rotate(360deg);
    opacity: 0.7;
  }
  100% {
    transform: translate(1000px, 0) rotate(450deg);
    opacity: 0.6;
  }
}