:root {
    --text-color: #343434;
    --title-color: #212529;
    --box-shadow: 3px 1px 5px rgb(143, 141, 141);
    --branding-font: "Montserrat", sans-serif;
    --background: #fcf9f9; 
  }

 .body {
    background-color: var(--background);
  }
  
  .Header {
    height: 100vh;
    width: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: var(--branding-font);
  }

  .navbar a {
    color: var(--title-color);
    cursor: pointer;
  }

  .navbar a:hover {
    color: rgb(248, 74, 5);
    text-decoration: overline;
  }

  .backlink {
    color: var(--title-color);
    text-decoration: none;
    cursor: pointer;
  }

  .backlink a:hover {
    text-decoration: overline;
  }

  .arrow_top {
    display: block;
    text-align: end;   
    color: var(--title-color);
  }

  .bi-arrow-up-square {
    width: 1em;
  }


  .line {
   padding: 2px;
   border-radius: 2px;
  }

  .read_more {
    color: var(--title-color);

  }

  .read_more a{
    text-decoration: underline;
  }


 .intro h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  h2 {
    font-size: 3rem;;
  }
  
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  .subtitle {
    color: #444444;
  }

.aboutme,
.morecontemporaryindex,
.weatherappindex {
  margin: 0 auto;
  border-radius: 12px;
}

.projectstabs {
  display: inline-flex;
}

.projectstabs a {
  color: var(--title-color);
  text-decoration: none;
}

.projectstabs a.active {
  text-decoration: overline;
  color: rgb(248, 74, 5);
}

.projectstabs a:not(.active)hover {
text-decoration: overline;
}

.divider {
  padding-left: 10px;
  padding-right: 10px;
}

  .intro {
    margin: 0 auto;
    margin-top: 15%;
    text-align: left;
  }
  
.index {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align:center;
}

.index a {
  color: var(--title-color);
  text-decoration: none;
}

.index a:hover {
  text-decoration: underline;
  color: rgb(250, 72, 1);
}

.index_number, 
.bi-1-square, 
.bi-2-square, 
.bi-3-square,
.bi-4-square {
  color:rgb(250, 72, 1);
}


#summary {
  display: flex;
  justify-content: space-between;
margin-top: 10%;
}

#designing_the_assistant, 
#challenges,
#notes,
#buttons,
#tabs,
#icons, 
#cards, 
#menus,
#UIexplanation {
  display: flex;
  justify-content: space-between;
}

.tabs_list, 
.icons_list {
  text-align: start;
  list-style: none;
}

.UIexplanation {
  display: block;
  margin: 0 auto;
  padding: 24px;
}

.yogauxlist {
  list-style:circle;
}
  
  .fas,
  .fab {
    font-size: 24px;
    color: var(--title-color);
  }  

  .socials a{
    text-decoration: none;
    color: #212529;
  }

  .copyright {
    margin-top: 10%;
    font-style: italic;
    font-size: small;
    text-align: center;
  }

/* Container for floating leaves */
.leaves-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

/* Leaf base styling (ONLY DEFINED ONCE!) */
.leaf {
  position: absolute;
  background-image: url("img/maple-leaf-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;

  animation-name: flyAndSwirl;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* One animation that moves across screen + swirls */
@keyframes flyAndSwirl {
  0% {
    transform: translateX(-20vw) translateY(0) rotate(0deg);
    opacity: 1;
  }

  25% {
    transform: translateX(20vw) translateY(-20px) rotate(120deg);
  }

  50% {
    transform: translateX(50vw) translateY(10px) rotate(240deg);
  }

  75% {
    transform: translateX(80vw) translateY(-15px) rotate(360deg);
  }

  100% {
    transform: translateX(120vw) translateY(0) rotate(480deg);
    opacity: 0; /* fade out only at end */
  }
}
